@import "elements.less";
@import "stroke.less";

@wood:  #804000;
@ore: #000000;
@clay: #FF6600;
@stone: gray;
@glass: #0066CC;
@papyrus: #FFFF99;
@textiles: #FF0099;
@money: #FFCC00;

@raw-material-color: peru;
@manufactured-color: #b3b3b3;
@commercial-color: #ffcc00;
@military-color: red;
@science-color: #008000;
@guild-color: #7f00ff;
@civilian-color: #3399ff;

a {
	cursor: pointer;
	margin-right: 10px;
}
div {
	padding: 5px;	
}

img {
	vertical-align: middle;	
}
h1 {
	font-size: 14px;	
}

.body {
	padding: 10px 5px;
	min-height: 100px;	
}
.menu {
	border-top: 1px solid;
	border-bottom: 1px solid;	
}

.root {
	width: 500px;	
}

.inline-block {
	display : inline-block;
}

.inline-table {
	display : inline-table;
}

.float-right {
	float: right;
}

.list-group-item.display-inline-block {
	display: inline-block;
}

.resource-badge(@bgcolor, @clr:white) {
	background-color: @bgcolor;
	color: @clr;
	.bordered-mono(black, 1px);
}

.badge.wood {
	.resource-badge(@wood);
}

.badge.ore {
	.resource-badge(@ore);
} 
	
.badge.clay {
	.resource-badge(@clay);
} 

.badge.stone {
	.resource-badge(@stone);
}

.badge.glass {
	.resource-badge(@glass);
} 

.badge.papyrus {
	.resource-badge(@papyrus, black);
}	 
	
.badge.textiles {
	.resource-badge(@textiles);
}	

.badge.money {
	.resource-badge(@money, black);
}	

.rotate-vert-right {
	.rotation(90deg);
}

.rotate-vert-left {
	.rotation(270deg);
}

.card-panel {
	border: 1px solid black;
	display: inline-table;
	height: 90px;
	width: 180px;
	margin: 1px;
	font-size: 14px;
	font-weight: bolder;
}

.card-panel.list-group-item {
	border: 1px solid black;
}

.bordered-mono(@clr, @width:2px) {
	.bordered(@clr, @clr, @clr, @clr);
	border-width: @width;
}

.card-shadow(@color) {
	box-shadow: -5px 0px 10px 0px @color;
}

.card-panel {
	&.scientific-structure {
		color: @science-color;
		.card-shadow(@science-color);
	}
	&.raw-material {
		color: @raw-material-color;
		.card-shadow(@raw-material-color);
	}
	&.military-structure {
		color: @military-color;
		.card-shadow(@military-color);
	}
	&.manufactured-good {
		color: @manufactured-color;
		.card-shadow(@manufactured-color);
	}
	&.guild {
		color: @guild-color;
		.card-shadow(@guild-color);
	}
	&.commercial-structure {
		color: @commercial-color;
		.card-shadow(@commercial-color);
	}
	&.civic-structure{
		color: @civilian-color;
		.card-shadow(@civilian-color);
	}
}

.card-title {
	text-align: center;
	.stroke(2, black);
}