@import "elements.less";
@import "stroke.less";

@wood:  #804000;
@ore: #000000;
@clay: #FF6600;
@stone: gray;
@glass: #0066CC;
@papyrus: #FFFF99;
@textiles: #FF0099;
@money: #FFCC00;

@raw-material-color: peru;
@manufactured-color: #b3b3b3;
@commercial-color: #ffcc00;
@military-color: red;
@science-color: #008000;
@guild-color: #7f00ff;
@civilian-color: #3399ff;

a {
	cursor: pointer;
	margin-right: 10px;
}
div {
	padding: 5px;	
}

img {
	vertical-align: middle;	
}
h1 {
	font-size: 14px;	
}

.body {
	padding: 10px 5px;
	min-height: 100px;	
}
.menu {
	border-top: 1px solid;
	border-bottom: 1px solid;	
}

.root {
	width: 500px;	
}

.inline-block {
	display : inline-block;
}

.inline-table {
	display : inline-table;
}

.float-right {
	float: right;
}

.list-group-item.display-inline-block {
	display: inline-block;
}

.bordered-mono(@clr, @width:2px) {
	.bordered(@clr, @clr, @clr, @clr);
	border-width: @width;
}

.resource-badge(@bgcolor, @clr:white) {
	background-color: @bgcolor;
	color: @clr;
	.bordered-mono(black, 1px);
}

.badge.wood {
	.resource-badge(@wood);
}

.badge.ore {
	.resource-badge(@ore);
} 
	
.badge.clay {
	.resource-badge(@clay);
} 

.badge.stone {
	.resource-badge(@stone);
}

.badge.glass {
	.resource-badge(@glass);
} 

.badge.papyrus {
	.resource-badge(@papyrus, black);
}	 
	
.badge.textiles {
	.resource-badge(@textiles);
}	

.badge.money {
	.resource-badge(@money, black);
}	

.rotate-vert-right {
	.rotation(90deg);
}

.rotate-vert-left {
	.rotation(270deg);
}

.card-panel {

	display: inline-table;
	height: 90px;
	width: 180px;
	margin: 0 0 5px 10px;
	font-size: 14px;
	font-weight: bolder;
	cursor: pointer;
	&:hover {
		opacity: 0.4;
	}
}

.card-panel.list-group-item {
	border: 1px solid black;
}

.card-shadow(@color) {
	box-shadow: 0px 0px 6px 0px @color;
}

.colored-card-panel(@color) {
	color: @color;
	.card-shadow(@color);
	border: 1px solid @color;
	border-radius: 5px;
}

.modal.seven-wonders {
	& > .modal-dialog {
		width: 1000px;
	}
}

.card-panel {
	&.scientific-structure {
		.colored-card-panel(@science-color);
	}
	&.raw-material {
		.colored-card-panel(@raw-material-color);
	}
	&.military-structure {
		.colored-card-panel(@military-color);
	}
	&.manufactured-good {
		.colored-card-panel(@manufactured-color);
	}
	&.guild {
		.colored-card-panel(@guild-color);
	}
	&.commercial-structure {
		.colored-card-panel(@commercial-color);
	}
	&.civic-structure{
		.colored-card-panel(@civilian-color);
	}
}

.card-title {
	text-align: center;
	//.stroke(2, black);
}

.flex-container-center {
	display: flex; /* or inline-flex */
	justify-content: center;
}

.flex-container-space-between {
	display: flex; /* or inline-flex */
	justify-content: space-between;
}

.btn > .glyphicon {
	top: 3px; // TODO : check 'dat shit
}